h1 {
    font-style: italic;
    text-decoration: underline;
}

header {
    position: relative;
    display: block;       
    margin: 90px auto 30px; 
    text-align: center;     
}

header h1 {
    margin: 0;
    font-style: italic;
}

/*coluna da esquerda*/
.container {
    display: flex;
    gap: 60px;
    margin: 40px auto 0;
    padding-top: 100px;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px; /* Adds breathing room on mobile */
}

.col-left {
    flex: 3;
}

.col-right {
    flex: 1;
}

.session {
    max-width: 700px;
}

.session .filme {
    margin-bottom: 20px;
    margin-top: 1px;
}

.session p {
    margin: 10px 0;
}

.imagem-sessao {
    display: flex;
    gap: 10px;
}

.session .movie-img {
    display: block;
    max-width: 200px;
    width: 100%;
    height: auto;
    padding-top: 10px;
}

/*coluna da direita*/
button {
    background-color: pink;
}

.descrip-sidebar img {
    max-width: 90px;
}
